body{
    background-color: aliceblue;
}
h1{
    text-align: center;
    font-size: 40px;
}
.boxes{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
    justify-content: space-between;
}
.box{
    border: 2px solid black;
    border-radius: 6px;
    margin: 20px;
    height: 220px;
    width: 250px;
    text-align: justify;
    padding: 12px;
    box-shadow: 12px;
}
.box h2{
    font-size: 25px;
    font-family: 180;
    margin: 7px;
}
.box h4{
    font-family: 500;
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 200;
}
.box1{
    
}
.box2{
    top: 100px;
    left: 700px;
}
.box3{
    border: 2px solid black;
    margin: 20px;
}
.box4{
    border: 2px solid black;
    margin: 20px;
}